{% extends "dashboard.html" %}
{% block body %}
<div class="container">
  <h4>Edit AccountType</h4>
  <form method="POST" class="post-form" action="/account_type/update/{{account_type.id}}">
    {% csrf_token %}
    <div class="mb-3">
      <input type="text" name="name" id="name" placeholder="Name" value="{{ account_type.name }}">
    </div>
    <div class="mb-3">
      <input type="text" name="loan_intrest_rate" id="loan_intrest_rate" placeholder="Loan Intrest Rate"
        value="{{ account_type.loan_intrest_rate }}">
    </div>
    <div class="mb-3">
      <input type="text" name="saving_intrest_rate" id="saving_intrest_rate" placeholder="Saving Intrest Rate"
        value="{{ account_type.saving_intrest_rate }}">
    </div>
    <div class="mb-3">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/account_type">Back</a>
      </div>
    </div>
  </form>
</div>
{% endblock body %}
