<h1>Members</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Loan Intrest Rate</th>
    <th>Saving Intrest Rate</th>
    <th>Action</th>
  </tr>
  {% for account_type in account_types %}
  <tr>
    <td>{{ account_type.id }}</td>
    <td>{{ account_type.name }}</td>
    <td>{{ account_type.loan_intrest_rate }}</td>
    <td>{{ account_type.saving_intrest_rate }}</td>
    <td>
      <a href="/account_type/show/{{ account_type.id }}"><span class="glyphicon glyphicon-pencil">Show</span></a>
      <a href="/account_type/edit/{{ account_type.id }}"><span class="glyphicon glyphicon-pencil">Edit</span></a>
      <a href="/account_type/delete/{{ account_type.id }}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>

<p>
  <a href="/account_type/new">Add member</a>
</p>
