{% extends "dashboard.html" %}
{% block body %}
<div class="container">
  <h4>Show AccountType</h4>
  {% csrf_token %}
  <div class="mb-3">
    Name ={{ account_type.name }}
  </div>
  <div class="mb-3">
    Loan Intrest Rate = {{ account_type.loan_intrest_rate }}
  </div>
  <div class="mb-3">
    Saving Intrest Rate = {{ account_type.saving_intrest_rate }}
  </div>
  <div class="mb-3">
    <a href="/account_type/new" class="btn btn-primary">Add New</a>
    <a href="/account_type" class="btn btn-light">Back</a>
  </div>
</div>
{% endblock body %}
