{% extends "dashboard.html" %}
{% block body %}
<div class="container">
  <h4>Edit Card</h4>
  <form method="POST" class="post-form" action="/card/update/{{card.id}}">
    {% csrf_token %}
    <div class="mb-3">
      <input type="text" name="title" id="title" placeholder="Title" , value="{{card.title}}">
    </div>
    <div class="mb-3">
      <input type="text" name="number" id="number" placeholder="Number" , value="{{card.number}}">
    </div>
    <div class="mb-3">
      <input type="text" name="expiry_date" id="expiry_date" placeholder="Expiry Date" , value="{{card.expiry_date}}">
    </div>
    <div class="mb-3">
      <input type="text" name="cvv_code" id="cvv_code" placeholder="CVV Code" , value="{{card.cvv_code}}">
    </div>
    <div class="mb-3">
      <input type="text" name="status" id="status" placeholder="Status" , value="{{card.status}}">
    </div>
    <!-- <div class="mb-3">
      <label for="is_deleted">Is Deleted</label>
      <option value="{{ card.is_deleted }}" selected="{{ card.is_deleted }}"></option>
      <select name="is_deleted" id="is_deleted" class="mb-3">
        <option value=False>False</option>
        <option value=True>True</option>
      </select>
    </div> -->


    <div class="mb-3">
      <select name="customer" id="customer" class="form-control mb-3">
        <option value="" selected>Please select a Customer</option>
        {% for customer in customers %}
        <option value="{{ customer.id }}">{{ customer.account_number }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/card">Back</a>
      </div>
    </div>
  </form>
</div>
{% endblock body %}
