{% extends "dashboard.html" %}
{% block body %}
<div class="container">
  <h4>Create Department</h4>
  <form method="POST" class="post-form" action="create">
    {% csrf_token %}
    <div class="mb-3">
      <input type="text" name="name" id="name" placeholder="Name">
    </div>
    <div class="mb-3">
      <input type="text" name="employee_count" id="employee_count" placeholder="Employee Count">
    </div>
    <div class="mb-3">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/department">Back</a>
      </div>
    </div>
  </form>
</div>
{% endblock body %}
