{% extends "dashboard.html" %}
{% block body %}
<div class="container">
  <h4>Edit Employee</h4>
  <form method="POST" class="post-form" action="/employee/update/{{employee.id}}">
    {% csrf_token %}
    <div class="mb-3">
      <input type="text" name="salary_amount" id="salary_amount" placeholder="Salary"
        value="{{ employee.salary_amount }}">
    </div>
    <div class="mb-3">
      <input type="text" name="date_of_joining" id="date_of_joining" placeholder="Joining Date"
        value="{{ employee.date_of_joining }}">
    </div>
    <div class="mb-3">
      <input type="text" name="work_status" id="work_status" placeholder="Work Status"
        value="{{ employee.work_status }}">
    </div>
    <div class="mb-3">
      <input type="text" name="designation" id="designation" placeholder="Designation"
        value="{{ employee.designation }}">
    </div>
    <div class="mb-3">
      <input type="text" name="official_email" id="official_email" placeholder="Official Email"
        value="{{ employee.official_email }}">
    </div>
    <div class="mb-3">
      <input type="text" name="education" id="education" placeholder="Education" value="{{ employee.education }}">
    </div>
    <!-- <div class="mb-3">
      <select name="account_type" id="account_type" class="form-control">
        <option value="" selected>Please select a Manager</option>
        {% for manager in managers %}
        <option value="{{ manager.id }}">{{ manager.name }}</option>
        {% endfor %}
      </select>
    </div> -->
    <div class="mb-3">
      <select name="department" id="department" class="form-control">
        <option value="{{ customer.account_type }}" selected>{{ customer.account_type.name}}</option>
        <option value="{{ employee.department.id }}" selected>{{ employee.departments.name }}</option>
        {% for department in departments %}
        <option value="{{ department.id }}">{{ department.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <select name="customer" id="customer" class="form-control">
        <option value="{{ employee.customer.id }}" selected>{{ employee.customers.account_number }}</option>
        {% for customer in customers %}
        <option value="{{ customer.id }}">{{ customer.account_number }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/employee">Back</a>
      </div>
    </div>
  </form>
</div>
{% endblock body %}
